html, body {
  overflow: hidden !important;
}
.darkmode-transition {
  transition: background-color 500ms, color 300ms, border-color 300ms;
}
.w-72 {
  width: 18rem;
}
.v--modal-box.v--modal {
  background-color: transparent;
  border-radius: 0;
  box-shadow: 0 5px 20px -2px rgba(0,0,0,0.3);
  margin-top: -100px;
}
.stage .v--modal-overlay {
  background: rgba(0,0,0,0.3);
}
#kadabra-admin .vue-simple-context-menu--active {
  margin-top: -50px !important;
  margin-left: -140px !important;
  font-family: sans-serif !important;
  background-color: #8795a1 !important;
}
#kadabra-admin.theme-dark .vue-simple-context-menu--active {
  background-color: #8795a1 !important;
}
#kadabra-admin.theme-light .vue-simple-context-menu--active {
  background-color: #dae1e7 !important;
}
#kadabra-admin .vue-simple-context-menu__item:hover {
  background-color: #606F7B !important;
}





/* 
  vue-sequential-entrance
  styles cloned here for tweaking
*/
.entranceFromTop {
  animation-duration: 0.5s;
  animation-name: entranceFromTop;
}

@keyframes entranceFromTop {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.entranceFromBottom {
  animation-duration: 2s;
  animation-name: entranceFromBottom;
}

@keyframes entranceFromBottom {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.entranceFromLeft {
  animation-name: entranceFromLeft;
  animation-duration: 1s;
}

@keyframes entranceFromLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.entranceFromRight {
  animation-name: entranceFromRight;
  animation-duration: 1s;
}

@keyframes entranceFromRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
